{% extends "layoutNavAdmin.html" %}
{% block content %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Admin<br>Logged In</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Good Food.. Good Mood!</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="../static/img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}