{% extends 'layoutNav.html' %}
{% block content %}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Login</h1>


        <form action="" method="post">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <!--                        <label>User name:</label>-->
                        <input type="text" class="form-control" name="username" id="username"
                               placeholder="User Name" required>
                        <label for="username">User Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--                <a href="/home" class="btn btn-primary py-2 px-4">Login</a>-->
                <input class="btn btn-primary py-2 px-4" type="submit" value="Log In">
            </div>
        </form>

    </div>
</div>


{% endblock %}